# working examples
*_files

# mysql configuration
mysql_args

# metadata files 
*.csv
*.json

# Notebook Checkpoints
.ipynb_checkpoints

# JPEG
*.jpg
*.jpeg
*.jpe
*.jif
*.jfif
*.jfi

# JPEG 2000
*.jp2
*.j2k
*.jpf
*.jpx
*.jpm
*.mj2

# JPEG XR
*.jxr
*.hdp
*.wdp

# Graphics Interchange Format
*.gif

# RAW
*.raw

# Web P
*.webp

# Portable Network Graphics
*.png

# Animated Portable Network Graphics
*.apng

# Multiple-image Network Graphics
*.mng

# Tagged Image File Format
*.tiff
*.tif

# Scalable Vector Graphics
*.svg
*.svgz

# Portable Document Format
*.pdf

# X BitMap
*.xbm

# BMP
*.bmp
*.dib

# ICO
*.ico

# 3D Images
*.3dm
*.max

# JPEG
*.JPG
*.JPEG
*.JPE
*.JIF
*.JFIF
*.JFI

# JPEG 2000
*.JP2
*.J2K
*.JPF
*.JPX
*.JPM
*.MJ2

# JPEG XR
*.JXR
*.HDP
*.WDP

# GRAPHICS INTERCHANGE FORMAT
*.GIF

# RAW
*.RAW

# WEB P
*.WEBP

# PORTABLE NETWORK GRAPHICS
*.PNG

# ANIMATED PORTABLE NETWORK GRAPHICS
*.APNG

# MULTIPLE-IMAGE NETWORK GRAPHICS
*.MNG

# TAGGED IMAGE FILE FORMAT
*.TIFF
*.TIF

# SCALABLE VECTOR GRAPHICS
*.SVG
*.SVGZ

# PORTABLE DOCUMENT FORMAT
*.PDF

# X BITMAP
*.XBM

# BMP
*.BMP
*.DIB

# ICO
*.ICO

# 3D IMAGES
*.3DM
*.MAX
